body {
    background-color: grey;
    text-align: center;
}

.header{
    padding: 10px 50px;
    background-color:black;
    color: #f1f9f9;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: lightslategray;
   color: white;
   text-align: right;
   padding: 1px 5px;
}

.card-color{
    background-color : lightblue;
}

.predictions{
    color : white;
    text-align: left;
}

.button-color{
    background-color : green;
}
